body{
    background-color: #000000;
}
.container-rgb{
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 30%;
    left: 50%;
    width: 60%;
    padding: 20px 0;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.2);
    font-family: 'Work Sans',sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #142b37;
    border-radius: 5px;
    display: grid;
    justify-items: center;
}
.container-hvs{
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 60%;
    left: 50%;
    width: 60%;
    padding: 20px 0;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.2);
    font-family: 'Work Sans',sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #142b37;
    border-radius: 5px;
    display: grid;
    justify-items: center;
}
.wrapper{
    width: 100%;
    text-align: center;
}
input[type="range"]{
    display: inline-block;
    width: 80%;
    margin-left: 10px;
    margin-top: 25px;
}
span{
    display: inline-block;
    text-align: center;
    margin: 20px 0;
    background-color: #0075FF;
    color: #ffffff;
    padding: 10px 30px;
    font-size: 18px;
    letter-spacing: 0.5px;
    border-radius: 2px;
}

.input{
    width: 10%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    background-color: #4e4e4e;
    color: #ffffff;
    text-align: center;
    font-family: "Roboto Mono",monospace;
    padding: 5px 0;
    margin-top: 15px;
    border-radius: 5px;
}
.container-rgb button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #577eff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

.table-container {
    width: 300px;
    height: 800px; 
    overflow-y: auto;
    overflow-x: hidden;
    color: #ffffff;
  }
  
  .table {
    float: left;
    margin-right: 20px;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .table th,
  .table td {
    padding: 10px;
  }
  